<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guest Signup</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <div class="container mt-5 text-center">
        <h1>Wrong ID</h1>
         <div class="btn-group-vertical mt-4">
            <a href="/auth/login" class="btn btn-primary btn-lg mb-3">Login</a>
            <a href="/auth/signup" class="btn btn-success btn-lg mb-3">Signup</a>
        </div>
    </div>
</body>
</html>
